@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Lato:wght@300&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #34a7c3;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #fff;
}

#page-max-width {
    max-width: 1500px;
    margin: 0 auto;
}

h2, h3 {
    font-family: 'Bruno Ace';
    color: #ccf2f5;
} 

/* Header logo and nav menu */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-nav {
    display: flex;
}

header a {
    text-decoration: none;
}

#logo {
    font-family: 'Bruno Ace SC';
    font-weight: 700;
    color: #ccf2f5;
    letter-spacing: 4px;
    font-size: 2rem;
    margin-left: 16px;
}

nav {
    margin-right: 12px;
}

nav a {
    font-family: 'Bruno Ace';
    color: #ccf2f5;
    font-size: 12px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 0.5rem;
}

#menu,
#logo {
    line-height: 65px;
    background-color: #34a7c3;
}

#menu li :hover {
    border-bottom: 1px solid rgb(230, 0, 88);
}

.active {
    border-bottom: 1px solid rgb(230, 0, 88);
}

/* Hero image and slogan text */

#hero-out {
    height: 600px;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

#slogan {
    background-color: rgb(230, 0, 88, .7);
    width: 278px;
    height: 96px;
    padding: 20px;
    position: absolute;
    bottom: 100px;
    right: 130px;
    border-radius: 15px;
    box-shadow: 25px 20px 50px rgba(0, 0, 0, 0.5);
}

#slogan h3 {
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.5;
}

#hero-image {
    height: 580px;
    background: url('../image/hero_image.jpg') no-repeat center center;
    background-size: cover;

    /* creates zoom effect for hero image on loading page */
    animation-name: zoom-hero;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* zoom effect level of the hero image */
@keyframes zoom-hero {
    from {
        transform: scale (1);
    }

    to {
        transform: scale(1.1);
    }
}


/* Banner Home Page */

#banner {
    background-color: #98f2f9;
    height: 300px;
    max-width: 1500px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 2px 3px 22px 21px rgba(0,0,0,0.39);
    display: flex;
    justify-content: center;
    border-radius: 6px;
}

.banner-h3 {
    text-align: center;
    background-color: rgb(42 117 136 / 80%);
    letter-spacing: 1px;
    padding: 4px;
    border-radius: 12px;
}

.banner-ring {
    height: 210px;
    width: 260px;
    border-radius: 50%;
    border: 4px solid #34a7c3;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, .6);
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-ring {
    background: url(/assets/image/close_up_s.jpg) no-repeat center center;
    background-size: cover;
}

#right-ring {
    background: url(/assets/image/group_divers.jpg) no-repeat center center;
    background-size: cover;
}

#center-ring {
    background: url(/assets/image/buddy_team_s.jpg) no-repeat center center;
    background-size: cover;
}

.banner-p {
    width: 260px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 15px;
    font-size: 14px;
    color: #2a2a2a;
    font-family: 'Bruno Ace';
}

#banner-left {
    padding-top: 20px;
    width: 33%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#banner-right {
    padding-top: 20px;
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#banner-center {
    padding-top: 20px;
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* Below banner section */

.about-contact-background {
    height: 100vh;
    background: url('../image/pink_corals_s.jpg') no-repeat center center;
    background-size: cover;
}

.about-info {
    width: 60%;
    text-align: center;
    margin-top: 40px;
    color: #ccf2f5;
    background-color: rgb(42 117 136 / 80%);
    letter-spacing: 1px;
    padding: 40px;
    border-radius: 12px;
}
   
   
#about-info-box {
    display: flex;
    justify-content: space-around;
}

/* media queries */