@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Lato:wght@300&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #34a7c3;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #fff;
}

/* Header logo and nav menu */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-nav {
    display: flex;
}
header a {
    text-decoration: none;
}

#logo {
    font-family: 'Bruno Ace SC';
    font-weight: 700;
    color: #fff;
    letter-spacing: 4px;
    font-size: 1.5rem;
    margin-left: 20px;
}

nav {
    margin-right: 12px;
}

nav a {
    font-family: 'Bruno Ace';
    color: #fff;
    font-size: 12px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 1rem;
    letter-spacing: 1px;
}

#menu, #logo {
    line-height: 65px;
    background-color: #34a7c3;
}

#menu li :hover {
    border-bottom: 1px solid #d03ea6;
}

.active {
    border-bottom: 1px solid #d03ea6;
}

/* Hero image and slogan text */

#hero-out {
    height: 600px;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

#slogan {
    background-color: rgba(208,62,166,0.7);
    width: 278px;
    height: 72px;
    padding: 40px;
    position: absolute;
    bottom: 100px;
    right: 130px;
    border-radius: 15px;
    box-shadow: 25px 20px 50px rgba(0, 0, 0, 0.5);
}

#slogan h3 {
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-align: center;
}

.nav-slogan {
    font-family: 'Bruno Ace';
    color: #fff;
}

#hero-image {
    height: 580px;
    background: url('../image/hero_image.jpg') no-repeat center center;
    background-size: cover;

/* creates zoom effect for hero image on loading page */

    animation-name: zoom-hero;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* zoom effect level of the hero image */

@keyframes zoom-hero {
    from{
        transform: scale (1);
    }
    to{
        transform: scale(1.1);
    }
}

/* Banner Home Page */

#banner {
    background-color: #98f2f9;
    height: 250px;
    width: 100%;
    margin-top: 45px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.6);;
}

/* media queries */

@media (max-width: 375x) {

}

@media (max-width: 768px) {
    
}
