@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Lato:wght@300&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #2B547E;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #fff;
}

/* Header logo and nav menu */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-nav {
    display: flex;
}

h1 {
    font-family: 'Bruno Ace SC';
    font-weight: 700;
    color: #fff;
    letter-spacing: 4px;
}

nav {
    margin-right: 12px;
}

nav a {
    font-family: 'Bruno Ace';
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

#logo {
    font-size: 1.5rem;
    margin-left: 20px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 0.5rem;
    letter-spacing: 2px;
    
}

/* #menu a {
    text-decoration: none;
    color: inherit;
} */

#menu, #logo {
    line-height: 75px;

}

#menu li :hover {
    border-bottom: 1px solid #be870e;
}

.active {
    border-bottom: 1px solid #be870e;
}

/* Hero image and slogan text */

.nav-slogan {
    font-family: 'Bruno Ace';
    color: #fff;
}

#hero-image {
    background: url('../image/hero_image.jpg') center center;
    max-width: 1600px;
    max-height: 500px;
}





/* media queries */

@media (max-width: 375x) {

}

@media (max-width: 768px) {
    
}
